.input-container {
  position: relative;
}

.input-field {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 300px;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-90%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.clear-button:hover {
  font-weight: bold;
}
