table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 12px;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2
}